body{
    background-image:linear-gradient(rgba(14, 6, 109, 0.4),rgba(0, 0, 0, 0.4)), url("https://wallpapers.com/images/featured/beautiful-background-td7gsxerv3ecl20h.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: white;
}